.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My Css */

.header {
  background-color: #047EFE;
  padding: 1rem 4rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header h1 {
  margin: 0;
}

.content {
  min-height: 74vh;
}

.inside-component a {
  display: inline-block;
}
figure {
  position: relative;
  background-color: #1E1E1E;
}

figure img {
  width: 150px;
  height: 140px;
}

figcaption {
  color: #fff;
  position: absolute;
  bottom: 56px;
  left: 45px;
  font-size: 1.1rem;
}

.inside-component {
  padding: 0 3.5rem;
}

.inside-component.movie-and-series {
  display: flex;
  flex-flow: wrap;
}

.card {
  flex: 0 0 150px;
  padding: .25rem;
}

.card p {
  margin: 0 0 .5rem;
}

.card img {
  max-width: 100%;
}
/* Footer Stuff */

footer {
  padding: 4rem;
  padding-bottom: 2rem;
  background-color: #1E1E1E;
  color: #fff;
}

.footer-links, .copyright, .bottom-icons {
  padding-bottom: 2rem;
}

.footer-links {
  color: #BCBFBE;
}

.copyright {
  color: #999997;
}

.bottom-icons {
  display: flex;
  justify-content: space-between;
}

.bottom-icons img {
  max-height: 40px;
}

.left-icons img {
  margin-right: 30px;
}

.right-icons {
  display: inline-flex;
  flex-flow: row-reverse;
}

.right-icons img {
  margin-left: 30px;
}